:root {
    --body-bg: #f8eedd;
    --body-bg-1: #feedcf;
    /* --color--secondary: #c3ebef !important; */
    --color--secondary: #cfeaec !important;
    --color--tertiary: #06bc13 !important;
    --secondary--color: #2ac9f9 !important;
    --padding--primary-base: 70px !important;
}
body {
    background-color: var(--body-bg-1) !important;
}
.color-primary {
    color: var(--color--tertiary) !important;
}
.color-secondary {
    color: var(--secondary--color) !important;
}
.menu-horizontal-bar {
    background-color: black !important;
}
.footer-link-wrapper {
    align-items: center !important;
}
.main-animation {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    opacity: 1;
}

.p-scrolltop.p-button {
    inset-block-end: 45px !important;
}
